<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:link.typolink parameter="{item.data.link}" additionalAttributes="{draggable:'false'}">
    <div class="container z-10">
        <div class="carousel-text p-2 inline-block text-white" {f:if(condition: item.data.text_color,then:
        'style="color: {item.data.text_color};"')}>
        <h1 class="carousel-header font-medium leading-none{f:if(condition: item.data.header_position, then: ' text-{item.data.header_position}')}">
            <f:format.htmlentitiesDecode>{item.data.header}</f:format.htmlentitiesDecode>
        </h1>
        <f:if condition="{item.data.subheader}">
            <p class="carousel-subheader font-medium text-3xl {f:if(condition: item.data.header_position, then: ' text-{item.data.header_position}')}">
                <f:format.htmlentitiesDecode>{item.data.subheader}</f:format.htmlentitiesDecode>
            </p>
        </f:if>
        <f:format.html>{item.data.bodytext}</f:format.html>
    </div>
    </div>
    <f:if condition="{item.images.0}">
        <f:variable name="imageConfig">{settings.responsiveimages.contentelements.{data.CType}}</f:variable>
        <f:variable name="imageConfig">{imageConfig.{item.data.item_type}}</f:variable>
        <rintisch:data.imageVariants
            as="variants"
            variants="{variants}"
            multiplier="{imageConfig.multiplier}"
            gutters="{imageConfig.gutters}"
            corrections="{imageConfig.corrections}"/>
        <f:render
            partial="Media/Rendering/Image"
            arguments="{file: item.images.0, data: item.data, settings: settings, variants: variants, pictureClass: 'object-cover w-full h-full flex'}"/>
    </f:if>
</f:link.typolink>
</html>
