<div class="valign" {f:if(condition: item.data.text_color,then:'style="color: {item.data.text_color};"')}>
<div class="vcontainer">
    <div class="carousel-text-inner">
        <f:if condition="{item.data.nav_title}">
            <div>{item.data.nav_title}</div>
        </f:if>
        <h2 class="carousel-item-header{f:if(condition: item.data.header_position, then: ' text-{item.data.header_position}')}">
            <f:format.htmlentitiesDecode>{item.data.header}</f:format.htmlentitiesDecode>
        </h2>
        <f:if condition="{item.data.subheader}">
            <p class="carousel-item-subheader{f:if(condition: item.data.header_position, then: ' text-{item.data.header_position}')}">
                <f:format.htmlentitiesDecode>{item.data.subheader}</f:format.htmlentitiesDecode>
            </p>
        </f:if>
        <f:if condition="{item.data.bodytext}">
            <div class="carousel-item-bodytext">
                <f:format.html>{item.data.bodytext}</f:format.html>
            </div>
        </f:if>
    </div>
</div>
</div>
