<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:t3ce="http://typo3.org/ns/Rintisch/T3Ce/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:spaceless>
    <f:if condition="{data.frame_class} != none">
        <f:then>

            <f:comment><!-- FRAME --></f:comment>
            <f:variable name="frame">
                <f:switch expression="{data.frame_class}">
                    <f:case value="indent">
                        <f:if condition="{data.tx_container_parent} == 0">
                            <f:then>sm:px-32 md:px-64 lg:px-64 xl:px-64</f:then>
                            <f:else></f:else>
                        </f:if>
                    </f:case>
                </f:switch>
            </f:variable>

            <f:comment><!-- LAYOUT --></f:comment>
            <f:variable name="baseWidth">{settings.containerBaseWidth}</f:variable>
            <f:variable name="layout">
                <f:if condition="{data.tx_container_parent} == 0">
                    <f:then>
                        <f:switch expression="{data.layout}">
                            <f:case value="100">
                                mx-0 px-0 mx-auto
                            </f:case>
                            <f:case value="12">
                                max-w-{baseWidth}xl md:max-w-{baseWidth + 1}xl lg:max-w-{baseWidth + 3}xl xl:max-w-{baseWidth + 4}xl mx-auto px-4
                            </f:case>
                            <f:case value="8">
                                max-w-{baseWidth}xl md:max-w-{baseWidth +1}xl mx-auto px-4
                            </f:case>
                            <f:defaultCase>max-w-{baseWidth}xl md:max-w-{baseWidth + 1}xl lg:max-w-{baseWidth + 3}xl mx-auto px-4</f:defaultCase>
                        </f:switch>
                    </f:then>
                    <f:else></f:else>
                </f:if>
            </f:variable>

            <f:comment><!-- MARGIN TOP --></f:comment>
            <f:variable name="marginTop">
                <f:if condition="{data.space_before_class} == ''">
                    <f:then>mt-0</f:then>
                    <f:else>mt-{data.space_before_class}</f:else>
                </f:if>
            </f:variable>

            <f:comment><!-- MARGIN BOTTOM --></f:comment>
            <f:variable name="marginBottom">
                <f:if condition="{data.space_after_class} == ''">
                    <f:then>mb-0</f:then>
                    <f:else>mb-{data.space_after_class}</f:else>
                </f:if>
            </f:variable>

            <f:comment><!-- PADDING TOP --></f:comment>
            <f:variable name="paddingTop">
                <f:if condition="{data.padding_top} == ''">
                    <f:then>{f:if(condition:'{data.tx_container_parent} == 0', then: 'pt-16' , else: 'pt-0')}</f:then>
                    <f:else>pt-{data.padding_top}</f:else>
                </f:if>
            </f:variable>

            <f:comment><!-- PADDING BOTTOM --></f:comment>
            <f:variable name="paddingBottom">
                <f:if condition="{data.padding_bottom} == ''">
                    <f:then>{f:if(condition:'{data.tx_container_parent} == 0', then: 'pb-16' , else: 'pt-0')}</f:then>
                    <f:else>pb-{data.padding_bottom}</f:else>
                </f:if>
            </f:variable>

            <f:comment><!-- BACKGROUND COLOR --></f:comment>
            <f:variable name="backgroundColor">
                <f:switch expression="{data.background_color_class}">
                    <f:case value="none">
                    </f:case>
                    <f:case value="bg-primary-500">
                        bg-primary-500 text-white tracking-wide
                    </f:case>
                    <f:defaultCase>{data.background_color_class}</f:defaultCase>
                </f:switch>
            </f:variable>

            <f:comment><!-- MAKE CLASSES SPACELESS --></f:comment>
            <f:variable name="ceClasses"><t3ce:format.makeSingleline>{marginTop}{marginBottom}{paddingBottom}{paddingTop}{backgroundColor}</t3ce:format.makeSingleline></f:variable>

            <div
                id="c{data.uid}"
                class="{ceClasses}">
                <div class="{layout}">
                    <f:if condition="{data._LOCALIZED_UID}">
                        <a id="c{data._LOCALIZED_UID}"></a>
                    </f:if>
                    <f:render section="Before" optional="true">
                        <f:render partial="DropIn/Before/All" arguments="{_all}"/>
                    </f:render>
                    <f:render section="Header" optional="true">
                        <f:render partial="Header/All" arguments="{_all}"/>
                    </f:render>
                    <f:render section="Main" optional="true"/>
                    <f:render section="Footer" optional="true">
                        <f:render partial="Footer/All" arguments="{_all}"/>
                    </f:render>
                    <f:render section="After" optional="true">
                        <f:render partial="DropIn/After/All" arguments="{_all}"/>
                    </f:render>
                </div>
            </div>

        </f:then>
        <f:else>

            <a id="c{data.uid}"></a>
            <f:if condition="{data._LOCALIZED_UID}">
                <a id="c{data._LOCALIZED_UID}"></a>
            </f:if>
            <f:if condition="{marginTop}">
                <div class="{marginTop}"></div>
            </f:if>
            <f:render section="Before" optional="true">
                <f:render partial="DropIn/Before/All" arguments="{_all}"/>
            </f:render>
            <f:render section="Header" optional="true">
                <f:render partial="Header/All" arguments="{_all}"/>
            </f:render>
            <f:render section="Main" optional="true"/>
            <f:render section="Footer" optional="true">
                <f:render partial="Footer/All" arguments="{_all}"/>
            </f:render>
            <f:render section="After" optional="true">
                <f:render partial="DropIn/After/All" arguments="{_all}"/>
            </f:render>
            <f:if condition="{marginBottom}">
                <div class="{marginBottom}"></div>
            </f:if>

        </f:else>
    </f:if>
</f:spaceless>
</html>
