<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:t3ce="http://typo3.org/ns/Rintisch/T3Ce/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:spaceless>
    <f:if condition="{data.frame_class} != none">
        <f:then>

            <f:comment><!-- MARGIN TOP --></f:comment>
            <f:variable name="marginTop">
                <f:if condition="{data.space_before_class} == ''">
                    <f:then>mt-0</f:then>
                    <f:else>mt-{data.space_before_class}</f:else>
                </f:if>
            </f:variable>

            <f:comment><!-- MARGIN BOTTOM --></f:comment>
            <f:variable name="marginBottom">
                <f:if condition="{data.space_after_class} == ''">
                    <f:then>mb-0</f:then>
                    <f:else>mb-{data.space_after_class}</f:else>
                </f:if>
            </f:variable>

            <f:comment><!-- PADDING TOP --></f:comment>
            <f:variable name="paddingTop">
                <f:if condition="{data.padding_top} == ''">
                    <f:then>{f:if(condition:'{data.tx_container_parent} == 0', then: 'pt-16' , else: 'pt-0')}</f:then>
                    <f:else>pt-{data.padding_top}</f:else>
                </f:if>
            </f:variable>

            <f:comment><!-- PADDING BOTTOM --></f:comment>
            <f:variable name="paddingBottom">
                <f:if condition="{data.padding_bottom} == ''">
                    <f:then>{f:if(condition:'{data.tx_container_parent} == 0', then: 'pb-16' , else: 'pt-0')}</f:then>
                    <f:else>pb-{data.padding_bottom}</f:else>
                </f:if>
            </f:variable>

            <f:comment><!-- BACKGROUND COLOR --></f:comment>
            <f:variable name="backgroundColor">
                <f:if condition="{data.CType} != 't3ce-accordion-container'">
                    <f:switch expression="{data.background_color_class}">
                        <f:case value="none">
                        </f:case>
                        <f:case value="bg-primary-500">
                            bg-primary-500 text-white tracking-wide
                        </f:case>
                        <f:defaultCase>{data.background_color_class}</f:defaultCase>
                    </f:switch>
                </f:if>

            </f:variable>

            <f:comment><!-- LAYOUT --></f:comment>
            <f:variable name="baseWidth">{settings.containerBaseWidth}</f:variable>
            <f:variable name="contentContainer">
                <t3ce:format.makeSingleline>
                    flex flex-row justify-start mx-auto px-4
                    max-w-{baseWidth}xl md:max-w-{baseWidth + 1}xl lg:max-w-{baseWidth + 3}xl xl:max-w-{baseWidth + 4}xl
                </t3ce:format.makeSingleline>
            </f:variable>

            <f:comment><!-- FLEXBOX GRID → OFFSET --></f:comment>
            <f:variable name="offset">
                <t3ce:format.makeSingleline>
                    w-0
                    <f:switch expression="{data.frame_class}">
                        <f:case value="small-left">md:w-1/12</f:case>
                        <f:case value="small-center">md:w-2/12</f:case>
                        <f:case value="wide"></f:case>
                        <f:defaultCase>md:w-1/12</f:defaultCase>
                    </f:switch>
                </t3ce:format.makeSingleline>
            </f:variable>

            <f:comment><!-- FLEXBOX GRID → CONTENT-WIDTH --></f:comment>
            <f:variable name="contentWidth">
                <f:if condition="{data.tx_container_parent} == 0">
                    <f:then>
                        w-full
                        <f:switch expression="{data.frame_class}">
                            <f:case value="small-left">md:w-8/12</f:case>
                            <f:case value="small-center">md:w-8/12</f:case>
                            <f:case value="wide"></f:case>
                            <f:defaultCase>md:w-10/12</f:defaultCase>
                        </f:switch>
                    </f:then>
                    <f:else></f:else>
                </f:if>
            </f:variable>

            <f:comment><!-- MAKE CLASSES SPACELESS --></f:comment>
            <f:variable name="ceClasses">
                <t3ce:format.makeSingleline>{marginTop}{marginBottom}{paddingBottom}{paddingTop}{backgroundColor}</t3ce:format.makeSingleline>
            </f:variable>

            <div
                id="c{data.uid}"
                class="{ceClasses} anchor">
                <div{f:if(condition:'{data.tx_container_parent} == 0', then: ' class="{contentContainer}"')}>
                <f:if condition="{data.tx_container_parent} == 0 && {offset}">
                    <div class="{offset}"></div>
                </f:if>
                <div class="{contentWidth} ce-{data.CType}">
                    <f:if condition="{data._LOCALIZED_UID}">
                        <a id="c{data._LOCALIZED_UID}"></a>
                    </f:if>
                    <f:if condition="{data.CType} != 't3ce-accordion-container'">
                        <f:render section="Before" optional="true">
                            <f:render partial="DropIn/Before/All" arguments="{_all}"/>
                        </f:render>
                        <f:render section="Header" optional="true">
                            <f:render partial="Header/All" arguments="{_all}"/>
                        </f:render>
                    </f:if>
                    <f:render section="Main" optional="true"/>
                    <f:render section="Footer" optional="true">
                        <f:render partial="Footer/All" arguments="{_all}"/>
                    </f:render>
                    <f:render section="After" optional="true">
                        <f:render partial="DropIn/After/All" arguments="{_all}"/>
                    </f:render>
                </div>
            </div>
            </div>

        </f:then>
        <f:else>

            <a id="c{data.uid}"></a>
            <f:if condition="{data._LOCALIZED_UID}">
                <a id="c{data._LOCALIZED_UID}"></a>
            </f:if>
            <f:if condition="{marginTop}">
                <div class="{marginTop}"></div>
            </f:if>
            <f:render section="Before" optional="true">
                <f:render partial="DropIn/Before/All" arguments="{_all}"/>
            </f:render>
            <f:render section="Header" optional="true">
                <f:render partial="Header/All" arguments="{_all}"/>
            </f:render>
            <f:render section="Main" optional="true"/>
            <f:render section="Footer" optional="true">
                <f:render partial="Footer/All" arguments="{_all}"/>
            </f:render>
            <f:render section="After" optional="true">
                <f:render partial="DropIn/After/All" arguments="{_all}"/>
            </f:render>
            <f:if condition="{marginBottom}">
                <div class="{marginBottom}"></div>
            </f:if>

        </f:else>
    </f:if>
</f:spaceless>
</html>
