<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:rintisch="http://typo3.org/ns/Rintisch/T3Ce/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{item.backgroundImage.0}">
    <f:variable name="backgroundImageObject" value="{item.backgroundImage.0}"/>
    <f:variable name="backgroundImageIdentifier" value="carousel-backgroundimage-{data.uid}-{item.data.uid}"/>
    <f:variable name="backgroundImageClasses">carousel-backgroundimage</f:variable>
    <f:if condition="{item.data.background_image_options.parallax}"><f:variable name="backgroundImageClasses">{backgroundImageClasses} carousel-backgroundimage-parallax</f:variable></f:if>
    <f:if condition="{item.data.background_image_options.fade}"><f:variable name="backgroundImageClasses">{backgroundImageClasses} carousel-backgroundimage-fade</f:variable></f:if>
    <f:if condition="{item.data.background_image_options.filter}"><f:variable name="backgroundImageClasses">{backgroundImageClasses} carousel-backgroundimage-{item.data.background_image_options.filter}</f:variable></f:if>
    <div class="carousel-backgroundimage-container">
        <div id="{backgroundImageIdentifier}" class="{backgroundImageClasses}">
            <f:if condition="{backgroundImageObject}">
                <f:render partial="Media/Rendering/Image" arguments="{file: backgroundImageObject, data: item.data, settings: settings, variants: variants}" />
            </f:if>
            <style>{styles -> f:format.raw()}</style>
        </div>
    </div>
</f:if>
</html>
