/* Tab content - closed */
.tab-content {
  max-height: 0;
  transition: max-height .35s;
}
/* :checked - resize to full height */
.tab  {
  input:checked ~ .tab-content {
   @apply max-h-screen;
  }
  /* Label formatting when open */
  input:checked + label{
    @apply p-5;
    @apply border-l-2;
    @apply border-primary-500;
    @apply bg-gray-100;
    @apply text-primary-700;
  }
  /* Icon */
  label::after {
    @apply float-right;
    @apply right-0;
    @apply top-0;
    @apply block;
    @apply w-8;
    @apply h-8;
    line-height: 2.3rem;
    @apply text-xl;
    @apply text-center;
    @apply duration-75;
  }
  /* Icon formatting - closed */
  input[type=checkbox] + label::after {
    content: "+";
    @apply font-medium;
    @apply border;
    @apply rounded-full;
    @apply border-gray-500;
  }
  input[type=radio] + label::after {
    content: "\25BE";
    @apply font-medium;
    @apply border;
    @apply rounded-full;
    @apply border-gray-500;
  }
  /* Icon formatting - open */
  input[type=checkbox]:checked + label::after {
    @apply transform;
    @apply rotate-45;
    @apply bg-gray-500;
    @apply text-gray-100;
  }
  input[type=radio]:checked + label::after {
    @apply transform;
    @apply rotate-180;
    @apply bg-primary-500;
    @apply text-gray-100;
  }
}
