/* Tab content - closed */
.js-accordion-content {
    max-height: 0;
}

.js-minus {
    display: none;
}

/* :checked - resize to full height */
.js-accordion {

    input:checked ~ .js-accordion-content {
        max-height: 1000vh;
    }

    input:checked ~ label .js-minus {
        @apply block;
    }

    input:checked ~ label .js-plus {
        @apply hidden;
    }
}
