<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">

    <div class="container w-full mx-auto py-12">
        <f:if condition="{data.header}">
            <p class="mb-4 font-semibold px-1 text-xl md:text-2xl">{data.header}</p>
        </f:if>
        <f:if condition="{records}">
            <div class="shadow-md">
                <f:for each="{records}" as="record" iteration="iteration">
                    <div class="tab w-full overflow-hidden border-t">
                        <input class="absolute opacity-0" id="tab-single-{record.data.uid}" type="checkbox" name="tabs2">
                        <label class="block p-5 leading-normal cursor-pointer" for="tab-single-{record.data.uid}">{record.data.header}</label>
                        <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-primary-500 leading-normal">
                            <f:if condition="{record.files}">
                                <f:for each="{record.files}" as="filesItem" iteration="iteration">
                                    <figure class="mb-8 mt-4">
                                        <f:image class="rounded-full mx-6 border-2 border-primary-500 shadow-lg" image="{filesItem}" width="100" height="100c"/>
                                        <f:if condition="{filesItem.description}">
                                            <figcaption>
                                                {filesItem.description}
                                            </figcaption>
                                        </f:if>
                                    </figure>
                                </f:for>
                            </f:if>
                            <f:if condition="{record.data.bodytext}">
                                <div class="m-6">
                                    <f:format.html>{record.data.bodytext}</f:format.html>
                                </div>
                            </f:if>
                        </div>
                    </div>
                </f:for>
            </div>
        </f:if>
    </div>
</f:section>
</html>
