<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="Main">

    <f:variable name="containerOne">1</f:variable>
    <f:variable name="containerTwo">1</f:variable>
    <f:variable name="gridColumns">2</f:variable>
    <f:if condition="{data.layout} == 10">
        <f:variable name="containerOne">2</f:variable>
        <f:variable name="containerTwo">1</f:variable>
        <f:variable name="gridColumns">3</f:variable>
    </f:if>
    <f:if condition="{data.layout} == 20">
        <f:variable name="containerOne">1</f:variable>
        <f:variable name="containerTwo">2</f:variable>
        <f:variable name="gridColumns">3</f:variable>
    </f:if>

    <div class="grid grid-cols-1 md:grid-cols-{gridColumns}">
        <div class="col-span-{containerOne}">
            <f:for each="{children1of2}" as="element">
                {element.renderedContent -> f:format.raw()}
            </f:for>
        </div>
        <div class="col-span-{containerTwo}">
            <f:for each="{children2of2}" as="element">
                {element.renderedContent -> f:format.raw()}
            </f:for>
        </div>
    </div>
</f:section>
</html>
