<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rintisch="http://typo3.org/ns/Rintisch/PictureExtend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Hero"/>

<f:section name="Main">
    <f:variable name="firstBackgroundImage">{v:variable.get(name: 'backgroundImage.0')}</f:variable>
    <section class="hero-image {f:if(condition: '{data.header} == \'\'', then: 'small')}">
        <div class="image-container" style="background-image: url({f:uri.image(image: firstBackgroundImage)})"></div>
        <div class="image-scrim"></div>
        <div class="hero-image-overlay">
            <div class="content-container">
                <f:if condition="{data.header}">
                    <h1>{data.header}</h1>
                </f:if>

                <f:if condition="{data.subheader}">
                    <p class="h5">{data.subheader}</p>
                </f:if>

                <f:if condition="{data.header}">
                    <div class="dots"></div>
                </f:if>

                <f:if condition="{data.header_link}">
                    <f:link.typolink parameter="{data.header_link}" class="link-button icon-text-button">
                        {data.readmore_label -> f:format.htmlentities()}
                    </f:link.typolink>
                </f:if>
            </div>
        </div>
    </section>

</f:section>
</html>
