<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Hero"/>

<f:section name="Main">
    <section class="page-hero bg-primary-100 -m-0.5">
        <f:for each="{images}" as="file">
                <f:render partial="Media/Rendering/Image" arguments="{file: file, settings: settings, rounded: 0, pictureClass: 'object-cover h-full w-1/2 justify-self-end'}"/>
            <div class="m-4">
                    <f:if condition="{file.properties.title}">
                        <h1 class="text-primary-900 font-medium">{file.properties.title}</h1>
                    </f:if>

                    <f:if condition="{file.description -> f:format.nl2br()}">
                        <p class="text-primary-800 font-medium mt-3 tracking-wide">{file.description -> f:format.nl2br()}</p>
                    </f:if>

                    <f:if condition="{data.header_link}">
                        <f:link.typolink parameter="{data.header_link}" class="link-button icon-text-button">
                            {data.readmore_label -> f:format.htmlentities()}
                        </f:link.typolink>
                    </f:if>
                </div>
            </div>
        </f:for>
    </section>

</f:section>
</html>
