<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:t3ce="http://typo3.org/ns/Rintisch/T3Ce/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <section class="hero grid -m-0.5 overflow-hidden items-center lg:container lg:mx-auto">
        <f:if condition="{images.0}">
            <f:render
                partial="Media/Rendering/Image"
                arguments="{file: images.0, settings: settings, pictureClass: 'fit-child lg:w-2/3 h-full justify-self-end transition rounded-bl-lg md:rounded-bl-none lg:rounded-bl-lg lg:rounded-br-lg overflow-hidden'}"/>
        </f:if>
            <div class="">
                <div class="hero-content m-4 z-10 bg-white bg-opacity-75 rounded-md p-4 shadow">
                    <f:if condition="{data.header}">
                        <h1 class="text-gray-800 font-medium text-3xl sm:text-4xl lg:text-6xl">{data.header -> t3ce:format.removeParagraph() -> f:format.htmlentitiesDecode()}</h1>
                    </f:if>

                    <f:if condition="{data.subheader}">
                        <p class="text-gray-600 font-sans font-light mt-3 tracking-wide">{data.subheader}</p>
                    </f:if>

                    <f:if condition="{data.bodytext}">
                        <f:format.html>{data.bodytext}</f:format.html>
                    </f:if>

                </div>
            </div>
    </section>

</f:section>
</html>
